params {

    fastq               =   "*_{1,2}.fastq.gz"
	assemblies			=   false
	assembly_loc        =   "assemblies/*.fasta"
    ref                 =   "k96243.fasta"
    matrix              =   true
    annotate            =   false
	database			=   "Burkholderia_pseudomallei_k96243_uid57733"
    mixtures            =   true
    phylogeny           =   true
    strain              =   "all"
    tech                =   "Illumina"
    pairing             =   "PE"
    window              =   10000
    indel_merge         =   true
    tri_tetra_allelic   =   false
    size                =   false
    phred               =   "-phred33"
    org                 =   "haploid"
    executor            =   "local"
	structural          =   false
}

includeConfig 'configs/gatk.config'

process {
    if(params.executor != "local") {
        conda = "$CONDA_PREFIX"
    }
    executor = params.executor


    errorStrategy = "ignore"

    withLabel: card {
        cpus = 1
        memory = "4G"
        time = "2h"
    }

    withLabel: index {
        cpus = 1
        memory = "4G"
        time = "2h"
    }

    withLabel: spandx_default {
        cpus = 2
        memory = "4G"
        time = "24h"
    }

    withLabel: spandx_alignment {
        cpus = 4
        memory = "4G"
        time = "24h"
    }
    withLabel: spandx_gatk_haplo {
        cpus = 4
        memory = "8G"
        time = "24h"
    }
	withLabel: spandx_gatk {
        cpus = 4
        memory = "8G"
        time = "24h"
    }

    withLabel: spandx_snpeff {
        cpus = 1
        memory = "8G"
        time = "24h"
    }

    withLabel: spandx_pindel {
        cpus = 2
        memory = "8G"
        time = "96h"
    }

    withLabel: genomic_queries {
        cpus = 1
        memory = "4G"
        time = "2h"
    }

    withLabel: card_queries {
        cpus = 1
        memory = "4G"
        time = "2h"
    }

    withLabel: report {
        cpus = 1
        memory = "4G"
        time = "2h"
    }

	withLabel: master_vcf {
        cpus = 1
        memory = "4G"
        time = "24h"
    }
	withLabel: SNP_matrix {
        cpus = 1
        memory = "4G"
        time = "24h"
    }
}

manifest {
    homePage = 'http://github.com/dsarov/SPANDx'
    description = 'A comparative genomics pipeline'
    mainScript = 'main.nf'
    version = '4.0'
}
