#!/bin/bash

## This file sets the qsub variables that are used in the batch queueing system
## As SPANDx will run with PBS as the default scheduler please specify below if you are using SGE
## note that SPANDx will currently only work with SGE and PBS. Default is PBS.

SCHEDULER=PBS #current options must be one of either PBS or SGE. 


#Handling of standard error N/A for SGE systems
#{oe,eo,n}. oe merges standard error to standard output, eo merges standard output to standard error, n indicates neither and two separate files will result
#PBS
ERROR_OUTPUT=oe

#SGE options are no or yes
ERROR_OUT_SGE=yes

# walltime
# by default jobs are submitted to qsub with 12 hours wall time
#PBS
WALL_T=96:00:00

#SGE
H_RT=42000

# mail
# Options for the way job e-mail is handled is flagged with -m within the qsub line
# {a,b,e,n}. a - when job is aborted by PBS, b - when job begins, e - when job terminates
# By default no mail will be sent with SPANDx. Default settings are recommended as SPANDx can spawn a large number of jobs if there are several sequences to be analysed. If mail is desired please change the variables below
# Eg to enable aborted and terminated job e-mail "MAIL=ae" and set ADDRESS=your.email@address.com

MAIL=n
ADDRESS=user@university.edu

## requested cpus for assemblies
# some parts of the SPANDx assembly module (velvet optimiser and ICORN2) can take advantage of multiple cores. Change the ncpus variable to specify the number of cores used in the assembly module of SPANDx 
NCPUS=4