#!/bin/bash

# SNP filtering variables note that these expression must conform to JEXL expressions. Refer to the GATK manual for more details

CLUSTER_SNP=3
CLUSTER_WINDOW_SNP=10
MLEAF_SNP=0.95
QD_SNP=10.0
MQ_SNP=30.0
FS_SNP=10.0
#HAPLO_SNP=20.0
QUAL_SNP=30.0
LOW_DEPTH=2 # A value of 2 means that regions with less than half of the average coverage of the entire genome will fail
HIGH_DEPTH=3 # A value of 5 means that regions with 5x depth greater than the average coverage will fail

# indel filtering variables

MLEAF_INDEL=0.95
QD_INDEL=10.0
MQ_INDEL=30.0
FS_INDEL=10.0
QUAL_INDEL=30.0
LOW_DEPTH_INDEL=2 # A value of 2 means that regions with less than half of the average coverage of the entire genome will fail
HIGH_DEPTH_INDEL=3 # A value of 5 means that regions with 5x depth greater than the average coverage will fail

# SNP and indel filtering expressions within SPANDx. Note these parameters are for information purposes only. To change these default values please edit the variables above
# SNP and indel calls falling outside of these filtering parameters will be flagged as FAIL and filtered into the AMB directory

#SNP filters
# --clusterSize 3 --clusterWindowSize 10 
# --filterExpression \"MLEAF < 0.95\" --filterName \"AFFilter\" 
# --filterExpression \"QD < 10.0\" --filterName \"QDFilter\" 
# --filterExpression \"MQ < 30.0\" --filterName \"MQFilter\" 
# --filterExpression \"FS > 10.0\" --filterName \"FSFilter\" 
# --filterExpression \"HaplotypeScore > 20.0\" --filterName \"HaplotypeScoreFilter\" 
# --filterExpression \"QUAL < 30.0 || DP < ($AVG_DEPTH/2) || DP > ($AVG_DEPTH*5)\"  --filterName \"StandardFilters\" 
# --filterExpression \"MQ0 >= 4 && '((MQ0 / (1.0 * DP)) > 0.1)'\" --filterName \"HARD_TO_VALIDATE\""
 
### indel calling filters
# --filterExpression \"MLEAF < 0.95\" --filterName \"FAIL\" 
# --filterExpression \"QD < 10.0\" --filterName \"FAIL1\" 
# --filterExpression \"MQ < 30.0\" --filterName \"FAIL2\" 
# --filterExpression \"FS > 10.0\" --filterName \"FAIL3\" 
# --filterExpression \"HaplotypeScore > 20.0\" --filterName \"FAIL4\" 
# --filterExpression \"QUAL < 30.0 || DP < ($AVG_DEPTH/2) || DP > ($AVG_DEPTH*5)\" --filterName \"FAIL5\" 
# --filterExpression \"MQ0 >= 4 && '((MQ0 / (1.0 * DP)) > 0.1)'\" --filterName \"FAIL6\""



  
