params {

  CLUSTER_SNP = 3
  CLUSTER_WINDOW_SNP = 10
  MLEAF_SNP = 0.95
  QD_SNP = 10.0
  MQ_SNP = 30.0
  FS_SNP = 60.0
  QUAL_SNP = 30.0
  LOW_DEPTH = 2
  HIGH_DEPTH = 3

  MLEAF_INDEL = 0.95
  QD_INDEL = 10.0
  MQ_INDEL = 30.0
  FS_INDEL = 200.0
  QUAL_INDEL = 30.0
  LOW_DEPTH_INDEL = 2
  HIGH_DEPTH_INDEL = 3

}